@import 'common/antdCustom';

.mgb-10 {
    margin-bottom: 10px;
}

.mgb-20 {
    margin-bottom: 20px;
}

.mgb-30 {
    margin-bottom: 30px;
}

.box-shadow-primary-0 {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 21, 0.08);
}

.box-shadow-primary-1 {
    box-shadow: 0 0px 10px 0 rgba(20, 20, 21, 0.08);
    border-radius: 8px;
}